<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %5p %40.40c:%4L - %m%n</pattern>
        </encoder>
    </appender>
    
    <logger name="com.acuo" level="info" />
    <logger name="org.jboss" level="error" />
    <logger name="javax.ws" level="error" />

    <logger name="org.neo4j.ogm.drivers.bolt.request" level="warn"/>
    <logger name="org.neo4j.ogm.drivers.bolt.response" level="warn"/>
    <logger name="org.neo4j.ogm.context" level="warn"/>

    <root level="warn">
        <appender-ref ref="console" />
    </root>

</configuration>